# Copyright (C) 2022, Jack Woodger
# SPDX-License-Identifier: Apache-2.0
root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[*.{css,html,json,ts,tsx}]
indent_style = space
indent_size = 2
max_line_length = 80
